.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}
a {
	text-decoration: none !important;
	color: black;
}
a:hover {
	color: #ca0623;
}
.btn-primary {
	color: #fff;
	background-color: #3f51b5 !important;
	border-color: #3f51b5 !important;
}
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
