.header {
	background-color: #3f51b5;
	color: #ffffff;
	height: auto;
}
.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-left {
	display: flex;
	align-items: center;
}
.header-left div,
.header-right div {
	padding: 0 20px;
}
.dropdown {
	position: relative;
}
.dropdown__content {
	display: none;
	right: 0%;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
	cursor: pointer;
}
.dropdown:hover .dropdown__content {
	width: 15rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	z-index: 10;
}
.dropdown:hover .dropdown__content p {
	color: black;
	margin-top: 1rem;
}

.dropdown__content p:hover {
	background-color: wheat;
	color: black;
}
.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.dropdown__text {
	margin-right: 10px;
}
.down {
	top: 50%;
	transform: rotate(45deg) translateY(-50%);
	-webkit-transform: rotate(45deg) translateY(-50%);
	-moz-transform: rotate(45deg) translateY(-50%);
	-ms-transform: rotate(45deg) translateY(-50%);
	-o-transform: rotate(45deg) translateY(-50%);
}
.dropdown:hover .down {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
}
